body{
    background-color: darkgreen;
}

/*
Bootstarp Breakpoints
small-> 0-767px
tablet-> 768px
laptop-> 1020/1200
pc-> 1400px
*/
@media  (min-width: 768px)
    { 
     body
     {background-color: blue ;

    } 
}
@media (min-width : 1020px) {
    body {
        background-color: darkgrey;
    }
    
}







    


